body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1160px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:272px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:192px;
  height:272px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:128px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:45px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:45px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:44px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:1px;
  width:160px;
  height:44px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:211px;
  width:122px;
  height:31px;
  text-align:left;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:242px;
  width:192px;
  height:36px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:277px;
  width:192px;
  height:36px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:192px;
  height:36px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
