body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1160px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:272px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:192px;
  height:272px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:128px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:45px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:45px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:44px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:1px;
  width:160px;
  height:44px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:211px;
  width:122px;
  height:31px;
  text-align:left;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u1673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:242px;
  width:192px;
  height:36px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:277px;
  width:192px;
  height:36px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:192px;
  height:36px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
